

<h4 class="title2">Welcome <%= @user.first_name %>!</h4>

<div class="container3">
<h5>Name: <%= @user.first_name %> <%= @user.last_name %></h5>
<h5>Amount Need: $<%= @user.money %></h5>
<h5>Amount Raised: <%= @user.raised %></h5>
</div>



<div class="container2">
	<h4 class="title2 center" >List of people who lend you money</h4>

	<table class="responsive-table centered col s12 m2 teal lighten-5 table1">
		<thead>
		  <tr>
		      <th data-field="Name">Name</th>
		      <th data-field="date">Email</th>
		      <th data-field="location">Amount</th>
		  </tr>
		</thead>
				<% @lender.each do |lender| %>
		<tbody>
		  <tr>
		    <td><%= lender.first_name %> <%= lender.last_name %></td>
		    <td><%= lender.email %></td>
		    <td>$<%= lender.money %></td>
		  </tr>
		<% end %>
		</tbody>
	</table>
</div>



